language = "python3"
entrypoint = "run.py"
run = "python run.py"

[env]
FLASK_APP = "run.py"
FLASK_ENV = "production"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "python run.py"]
deploymentTarget = "cloudrun" 